/*
 * Body
 */
.Game.container {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: 'Raleway';
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

/*
 * header
 */
.Game h1 {
  font-family: 'Amatic SC';
}

.Game .blog-header {
  margin-top: 3em;
  margin-bottom: 3em;
}

/*
 * This makes it so clicking a word doesn't show selected text, which is
 * distracting.
 */
.Game::selection {
  background-color: white;
}

.Game p {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.Game a {
  color: #1C9963;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.Game a::selection {
  background-color: white;
}

.Game a:hover {
  color: #105839;
}

.Game .flash {
  color: #99251c;
}

.Game .date {
  color: #b7b7b7;
  font-size: 16px;
  margin-top: -32px;
}

.buildingsList-enter {
  opacity: 0.01;
}

.fadeOutOnly-enter.fadeOutOnly-enter-active {
  opacity: 1;
  transition: opacity 0ms ease-in;
}

.fadeOutOnly-exit {
  opacity: 1;
}

.fadeOutOnly-exit.fadeOutOnly-exit-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.fadeOutOnly-appear {
  opacity: 0.01;
}

.fadeOutOnly-appear.fadeOutOnly-appear-active {
  opacity: 1;
  transition: opacity 0s ease-in;
}
