.menu-btn-group {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 20%
}

.menu-btn-group button {
  font-size: 18px;
  border-radius: 5px;
  width: 20%;
  margin-right: 5%;
  height: 40px;
}

.menu-btn-group button.active {
  border-color: #609022;
  background-color: #89ce31;
}
