.cover-image {
  width: 100%;
  height: 100%;
}

.cover-image-container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  magin-bottom: 3em;
}

hr {
  width: 10%;
  border-color: orange;
}

.cover-title {
  padding-top: 15%;
}

.cover-title h1, .cover-title h2 {
  color: white;
  font-family: 'Spectral SC', serif;
}

.Blog.container {
  display: block;
  padding-top: 3em;
  width: 1080px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

subject {
  color: orange;
  font-size: 30px;
  font-family: 'Spectral SC', serif;
}

.Blog p {
  font-size: 21px;
  line-height: 1.89;
  letter-spacing: -.003em;
  font-family: 'Quattrocento Sans', sans-serif;
}

header {
  height: 12px;
  background-color: black;
  padding: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
